<!DOCTYPE html>
{% extends 'AppAuditoria/base.html' %}
{% load static %}

{% block section1 %}
<html>
<head>
    <title>Lista de Sectores</title>
</head>
<body>
    <h1>Lista de Sectores</h1>
    <ul>
        {% for sector in sectores %}
            <li>
                <strong>Nombre del Sector:</strong> {{ sector.nombre }}<br>
                <strong>UAP:</strong> {{ sector.UAP }}<br>
                <strong>UAT:</strong> {{ sector.UAT }}
                <form method="post" action="{% url 'DeleteSector' sector.id %}">
                    {% csrf_token %}
                    <button type="submit">Eliminar</button>
              </form>
               <a href="{% url 'EditSector' sector.id %}">Editar</a>
            </li>
        {% empty %}
            <li>No hay sectores disponibles.</li> 
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}
