<!DOCTYPE html>

{% extends 'AppAuditoria/base.html' %}

{% load static %}

{% block section1 %}

<html>
<head>
    <title>Lista de Sectores</title>
</head>
<body>
    <h1>Lista de Sectores</h1>
    <ul>
        {% for sector in sectores %}
            <li>
                <strong>Nombre del Sector:</strong> {{ sector.nombre }}<br>
                <strong>UAP:</strong> {{ sector.UAP }}<br>
                <strong>UAT:</strong> {{ sector.UAT }}
            </li>
        {% empty %}
            <li>No hay sectores disponibles.</li>
        {% endfor %}
    </ul>
</body>
</html>

{% endblock %}